body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  hr {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    margin: 40px 0;
  
    background-color: #e5e5e5;
  
  }
  
  /* Header */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: black;
  }
  
  
  /* Nav */
  
.nav {
    font-size: 14px;
    text-transform: uppercase;
  }
  
.nav__link {
    text-decoration: none;
    color:#ffffff;
    margin: 0 15px;
    vertical-align: top;
    position: relative;
    transition: color 0.6s linear;
  }
  
.nav__link:after {
    content: "";
    background-color:rgb(81, 35, 88);
    display: block;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    z-index: 1;
    border-radius: 10px;
  
    transition: opacity 0.3s linear;
  }
  
.nav__link:hover {
    color: rgb(120, 62, 131);
  }
  
  .nav__link:hover:after {
    opacity: 1;
  }

  /*Intro*/
.intro {
     display: flex;
     flex-direction: column;
     justify-content: center;
      
     width: 100%;
     height: 100vh;
     min-height: 820px;
     position: relative;
     background: url("..//images/photo-of-eiffel-tower-739407.jpg") center no-repeat;
     background-size: cover;
  }

.intro__inner {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;

    text-align: center;
} 
.intro__title {
    color: white;
    font-size: 70px;   
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title:after {
    content: "";
    width: 50px;
    height: 3px;
    display: block;

    background-color: aliceblue;
    margin: 30px auto;/*50верх-низ,авто лево-право*/
 }

 .intro__uptitle  {
    color: white;
    font-size: 60px;
    font-family: 'Kaushan Script', sans-serif;
    margin-bottom: 20px;
}

/*Button*/

.btn {
  border: 3px solid white;
  color: white;
  padding: 8px 30px;/*селектор отступ,или 4 или 2 значения,первое верх-низ,второе лево-право*/

  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  border-radius: 25px;
 
  transition: background 0.1s linear, color 0.1s linear;

}

.btn:hover {
  background-color: #fff;
  color: #333;
}

/*Slider*/

.slider {
  width: 100%;
  position: absolute;

  bottom: 0;
  left: 0;
}

.slider__inner {
 display: flex;
 justify-content:space-between;
}

.slider__item { 
 width: 12%;
 color: white;
 padding: 20px 0;

 position: relative;
 font-size: 18px;
 text-transform: uppercase;
 border-top: 3px solid white;

 opacity: 0.7;
} 

.slider__item.active {
 opacity: 1;
}


.slider__item.active::before {
 display: block;
 position: absolute;
 content: "";
 width: 70%;
 height: 3px;

 background-color: rebeccapurple;
 left: 0;
 z-index: 1;
 top: -3px;
}

.slider__num {
  font-size: 24px;
  font-weight: 700;
}

/*Section*/

.section {
  padding: 80px 0 ;

}

.section--devices {
  padding-bottom: 0;
  background: url("../images/devices-bg.jpg") center no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}

.section--gray{
  background-color: #f8f8f8;
}

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 50px;

  text-align: center;
}
.section__uptitle {
  font-size: 20px;
  color: black;
  font-family: 'Kaushan Script', cursive;
}

.section__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__title::after {
  content: "";
  width: 60px;
  height: 3px;
  display: block;
  margin: 50px auto;

  background-color: rgb(160, 44, 9);
}

.section__text {
  font-size: 14px;
  color: silver;
}
  /*Card*/

.card {
  margin: 80px -15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card__item {
  width: 33.33333%;
  padding: 0 15px;
}

.card__inner {
  position: relative;
  background-color: rgb(118, 161, 196);
}


.card__inner:hover .card__img img{
 opacity: 0.2;
}

.card__inner:hover .card__img {
  transform: translate3d(-10px, -10px, 0);
}

.card__img {
  background: linear-gradient(to bottom,#f38181, #fce38a);
  transition: transform 0.2 s linear;
}

.card__img img{
  display: block;
  max-width: 100%;
  height: auto;
  transition: opacity 0.1s linear;
}

.card__inner:hover .card__text {
  opacity: 1;
}

.card__text {
  text-transform: uppercase;
  width: 100%;
  font-size: 18px;

  position: absolute;
  text-align: center;
  top:50%;
  left: 0;
  color: #fff;
  font-weight: 700;
  z-index: 2;
  opacity: 0 ;

  transform: translate3d(0,-50%,0);

  transition: opacity 0.2s linear;
}

.card__info {
  margin-top: 20px;
  text-align: center;
}

.card__name  {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.card__prof {
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  color: #999999;
}
/* Statistics */

.statistics {
  background-color: #95e1d3;
}

.stat {
  display: flex;
  flex-wrap: wrap;
}

.stat__item {
  flex: 1 1 0;
  padding: 70px 50px;
  text-align: center;
  color: #fff;

  border-left: 1px solid #c9c6c6;
}

.stat__item:last-child {
  border-right: 1px solid #c9c6c6;
}

.stat__num {
  font-size: 72px;
  font-weight: 700;

  line-height: 1;
}

.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}

/* Services */

.services {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  width: 33.33333%;
  padding: 0 35px 40px 85px;
  position: relative;
  margin-bottom: 40px;
}

.services__item--border {
  border-bottom: 1px solid #e5e5e5;
}

.services__icon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 30px;
  z-index: 1;
}

.services__title {
  margin-bottom: 10px;

  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.services__text {
  font-size: 14px;
  color: #999999;
}

/*Devices*/

.devices {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.devices__item {
  display: block; 
  max-width: 100%;
  height: auto;
}

.devices__item--iphone {
  position: absolute;
  bottom: -80px;
  right: 0;
  z-index: 1;
}

/* WeDo */

.wedo {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.wedo__item {
  width: 50%;
  padding: 0 15px;
}

.wedo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Accordion */

.accordion__item {
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
}

.accordion__item.active .accordion__content {
  display: block;
}

.accordion__item.active .accordion__header::after {
  transform: translateY(-50%) rotate(-45deg);
  margin-top: 5px;
}

.accordion__header {
  padding: 20px 20px 15px 65px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}

.accordion__header::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;

  border-top: 2px solid #cccc;
  border-right: 2px solid #cccc;

  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;

  transform: translateY(-50%) rotate(135deg);
}

.accordion__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;

  transform: translateY(-50%);
}

.accordion__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.accordion__content {
  padding: 15px 20px;
  font-size: 15px;
  display: none;

  font-style: italic;
  font-weight: 300;
  color: #999999;
}

/*Reviews*/

.reviews {
  padding: 0 110px;
  position: relative;
}

.reviews__item {
  padding-left: 255px;
  position: relative;

}

.reviews__photo {
  display: block;
  width: 210px;
  height: 210px;
  border: 2px solid #95e1d3;
  
  position: absolute;
  border-radius: 50%;
  
  top: 0;
  left:0;
  z-index: 1;
  color: #f38181;
}

.reviews__text {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  color:#999999
}

.reviews__author {
  font-family: 'Kaushan Script', cursive  ;
  font-size: 20px;
  color: #333;
}

.reviews__author::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 5%;
  height: 3px;
  margin-right: 10px;

  background-color: red;
}

.reviews__btn {
  font-size: 0;
  color: transparent;
  
  position: absolute;
  top: 50%;
  z-index: 1;

  transform: rotateY(-50%);
}
.reviews__btn::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;

  border-top: 2px solid #cccc;
  border-left: 2px solid #cccc;

 
}
.reviews__btn--prev {
  transform: rotate(-45deg);
  left: 0;
}

.reviews__btn--next {
  transform: rotate(135deg);
  right: 0;
}

/*Social*/

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 30px;
  height: 30px;
  padding: 12px 10px;

  font-size: 30px;
  text-decoration: none;
  
  background-color: #fce38a;
  border-right: 1px solid #f38181;

  color: #f38181;
  line-height: 1;
}

.social__item:last-child {
  border-right: 0;
}

.social__item:hover{
  color: #fff;
  background-color: #f38181;
}

/*Logos*/

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*Works*/  
.works{
  display: flex;
  flex-wrap: wrap;
}

.works__col {
  flex: 1 1 0;
}

.works__item {
  position: relative;
  
  background: linear-gradient(to bottom,#f38181, #fce38a);
}

.works__item:hover .works__image {
  opacity: 0.1;
}

.works__item:hover .works__info{
  opacity: 1;
}

.works__image {
  display: block;
  max-width: 100%;
  height: auto;
  transition: opacity 0.2s linear;
}

.works__info {
  width: 100%;
  padding: 0 15px;
  text-align: center;
  color: #fff;
  position: absolute;
  opacity: 0;

  top: 50%;
  left: 0;
  z-index: 1;

  transform: translate3d(0,-50),0;
  transition: opacity 0.2s linear;
}

.works__title {
  margin-bottom: 5px;
  font-size: 14px;
  text-transform: uppercase;
}

.works__text {
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}



 /*Clients*/
 

 .clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }

.clients__item {
  flex: 1 1 0;
  padding-left: 130px;
  padding-right: 30px;
  position: relative;
}

.clients__icon {
  border: 2px solid #95e1d3;
  border-radius: 50%;
  
  position: absolute;
  top: 0;
  left:0;
  z-index: 1;
}

.clients__title {
  margin-bottom: 10px;

  font-size: 14px;
  color:black;
  text-transform: uppercase;
}

.clients__text {
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  color: #1b1a1a;
}

.clients__text::after {
  content: "";
  width: 60px;
  height: 3px;
  display: block;
  text-align: left;
  margin: 20px auto;
 
  margin-left: 1px;

  background-color: rgb(160, 44, 9);
}

.clients__write {
  font-size: 14px;
  color: #756967;
}

.section--clients {
  width: 100%;
  
  
  
  padding-bottom: 0;
  background: url("../images/clients-bg.jpg") center no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}

/* Blog */

.blog {
  display: flex;
  
}

.blog__header {
  position: relative;
  margin-bottom: 10px;
}

.blog__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.blog__date {
  padding: 10px 20px;
  background-color: #95e1d3;

  font-size: 15px;
  font-style: italic;
  color: #fff;
  font-weight: 300;

  position: absolute;
  bottom: 10px;
  left: -10px;
}

.blog__date-day {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
}

.blog__content {
  margin-bottom: 10px;
}

.blog__title {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.blog__title a {
  color: inherit;
  text-decoration: none;
}

.blog__title a:hover {
  text-decoration: underline;
}

.blog__text {
  font-size: 15px;
  color: #999999;
}

.blog__footer {
  padding-top: 15px;
  border-top: 1px solid #e5e5e5;

  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}

.blog__stat__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.blog__stat__item i {
  color: #95e1d3;
}

/*Location*/

.section--maps {
  width: 100%;
  
  
  
  padding-bottom: 0;
  background: url("../images/map-bg.jpg") center no-repeat;
  background-size: cover;
  margin-bottom: 40px;
  
  opacity: 0.6;;
}


.maps {
  display: flex;
  justify-content: center;

}

.map__logos {
  height: 9em;
  display: block;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
}

.map__item {
font-size: 20px;
margin: 10px;
color: red;
margin-left: 40%;

}

.map__content {
margin-bottom: 10px;
}

.map__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #ff0000;
  text-transform: uppercase;
}
.map__title a {
  color: inherit;
  text-decoration: none;
}

.map__title a:hover {
  text-decoration: underline;
}

.map__title::after {
  content: "";
  width: 60px;
  height: 2px;
  display: block;
  text-align: center;
  
  margin: 20px ;
 
  
  background-color: #ff0000;
}

/* Footer */

.footer {
  background-color: #f8f8f8;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.footer__col--first {
  width: 40%;
}

.footer__col--second {
  width: 30%;
}

.footer__col--third {
  width: 25%;
}

.footer__logo {
  margin-bottom: 30px;
  font-size: 50px;
  color: #cccc;
  font-weight: 700;
}

.footer__text {
  margin-bottom: 30px;
  font-size: 16px;
  color: #999999;
}

.footer__social {
  margin-bottom: 30px;
}

.footer__social-header {
  padding-bottom: 15px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.footer__social-header b {
  font-size: 18px;
}

.footer__social-content {
  padding-top: 15px;
  font-size: 18px;
  color: #999999;
  font-style: italic;
  font-weight: 300;
}

.footer__social-content a {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  color: #95e1d3;
  margin-left: 10px;
  text-decoration: none;
}

.footer__title {
  margin: 30px 0;
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

/* Subscribe */

.subscribe {
  width: 100%;
  max-width: 380px;
  display: flex;
  height: 40px;
}

.subscribe__input {
  width: 60%;
  padding: 10px;

  background: #fff;
  border: 1px solid #e5e5e5;
  border-right: 0;

  color: #333;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}

.subscribe__input::placeholder {
  color: #999999;
}

.subscribe__input:focus {
  outline: 0;
  border-color: #95e1d3;
}

.subscribe__btn {
  width: 40%;
  padding: 10px 30px;
  
  background-color: #95e1d3;
  border: 0;
  cursor: pointer;

  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

  transition: background 0.2s linear;
}

.subscribe__btn:hover {
  background-color: #74c2b4;
}

.subscribe__btn:focus {
  outline: 0;
}

/* Blogs */

.blogs__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.blogs__img{
  width: 120px;
  height: 80px;
}

.blogs__content {
  padding-left: 20px;
}

.blogs__text {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 12px;
  line-height: 1.1;
  text-transform: uppercase;
  text-decoration: none;
}
.blogs__text:hover {
  text-decoration: underline;
}

.blogs__date {
  font-size: 13px;
  color: #999999;
  font-style: italic;
  font-weight: 300;
}


/* Instagram */
.instagram {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.instagram__item {
  width: 32.33333%;
  border-bottom: 1px solid #fff;
}

.instagram__item img {
  display: block;
}

/* Copyright */

.copyright {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  font-size: 14px;
  color: #333;
  text-align: center;
}

.copyright span {
  color: #f38181;
}



@media (max-width: 1230px) {
  /* Intro */
  .intro__uptitle {
    font-size: 52px;
  }
  
  .intro__title {
    font-size: 120px;
  }


@media (max-width: 990px) {
  
  /* Intro */
  .intro__uptitle {
    font-size: 32px;
  }
  
  .intro__title {
    font-size: 80px;
   }
  }
  

   /*Stat*/
  
   .stat {
     justify-content: center;
   }
   .stat__item {
     flex: none;
     width: 33.33333%;
     padding-top: 30px;
     padding-bottom: 30px;
     border-bottom: 0;
   }

   .stat__item:last-child {
     border-right: 0;
   }
   
   /*Services*/


 .services__item {
    width: 50%;
    margin-bottom: 0;
  }
   
  /* Devices */
.section--devices {
    background-color: #f38181;
  }

  /* Reviews */
  .reviews {
   padding: 0 60px;
  }

.reviews__photo {
   width: 150px;
   height: 150px;
 }

.reviews__item {
   padding-left: 175px;
}
  }

 
  

@media (max-width: 770px) {
 /*Nav*/
 
 .nav {
   display: none;
 } 

 /*Slider*/
 
 .slider__text {
   display: none;
 }

 .slider__item.active::before {
   width: 50%;
 }

 /*Card*/
 
 .card {
   margin-top: 50px;
   justify-content: center;
 }

 .card__item {
   width: 100%;
   max-width: 410px;
   margin-bottom: 30px;
 }

 .card__item:last-child {
   border-bottom: 0;
 }

 /* Wedo */

 .wedo__item {
  width: 100%;
 }

.wedo__img {
  margin-bottom: 0 auto 15px;
 }

/* Reviews */
.reviews__photo {
  position: static;
  margin: 0 auto 20px;
 }

.reviews__item {
  padding-left: 0;
 }

.reviews__text {
  font-size: 16px;
 }

.reviews__author {
  font-size: 20px;
 }

 .logos {
  justify-content: center;
}
.logos__item {
  flex: none;
  width: 33.33333%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 0;
}
.works__col {
  width: 100%;
  text-align: center;
  margin: 5%;
 
  
  
}
.works__image {
  min-width: 200px;
  margin-bottom: 30px;
}

.clients {
  flex-direction: column;
}

}



@media (max-width: 575px) {
  
  /* Intro */
.intro__uptitle {
   font-size: 22px;
  }
  
.intro__title {
  font-size: 40px;
  }

   /*Section*/

.section__header {
    margin-bottom: 50px;
  }

.section__title {
   font-size: 25px;
   }

.section__uptitle {
     font-size: 20px;
   }

.section__title::after {
     margin: 20px auto;
   }

   /*Stat*/

.stat__item {
     width: 100%;
     border-bottom: 1px solid #c9c6c6;
   }

.stat__item:last-child {
     border-bottom: 0;
   }

.stat__num {
     font-size: 52px;
   }

   /*Services*/

.services {
     justify-content: center;
   }

.services__item {
     width: 100%;
     max-width: 400px;
     padding-left: 55px;
     padding-right: 0;
   }

.services__icon {
     left: 50%;
     top: 0;
     display: block;
   }
  
   /*Devices*/

.devices {
    max-width: 320px;
  }

  .devices__item--iphone {
    width: 180px;
    bottom: -50px;
    right: -80px;
  }

  /* Wedo */
  
.wedo__img {
    display: none;
  }

  /* Reviews */
.reviews {
    padding: 0;
  }

.reviews__btn {
   top: 18%;
 }

 .logos {
  width: 100%;
  justify-content: center;
}

.logos__item {  
margin-right: 30px;
margin-left: 15px;
}

.works {
  justify-content: center;
  padding-left: 35px;
}


.works__col {
 
  justify-content: center;
  width: 100%;
  
  text-align: center;
  margin: 5%;
  
}

.works__image {
  margin-bottom: 30px;
  min-width: 360px;
}

.clients__item {
  padding: 50px;
  text-align: center;
}

.clients__icon {
  position: relative;
}

.clients__text::after {
  margin-left: auto;
}
}